{{ partial "header" . }}

<main>
	<div class="intro">
        
		{{ if .Site.Menus.icon }}
	    	<ul class="nav navbar-center">
			{{ range sort .Site.Menus.icon }}
		    	<li class="navbar-icon">
				<a href="{{ .URL }}">
					<i class="{{ .Name }}"></i>
				</a>
			</li>
			{{ end }}
	    	</ul>
		{{ end }}

		<h1>{{ .Site.Title }}</h1>
		<h2>{{ markdownify .Site.Params.Description }}</h2>

		{{ with .Content }} 
		<div class="homepage-content text-justify">{{ . }}</div> 
		{{ end }}



	</div>
</main>

{{ partial "footer" . }}
